/* For debug */
/* #main { */
/*   border: 2px dashed limegreen; */
/* } */
/* .page { */
/*   border: 2px dashed orange; */
/* } */
/* .page__inner-wrap { */
/*   border: 2px dashed blue; */
/* } */
/* .page__content { */
/*   border: 1px solid red; */
/* } */

/* No button for theme-toggle */
#theme-toggle {
  display: none !important;
}

#main {
  max-width: 1400px !important;
  padding: 0 2em;
  margin: 0 auto;
}

.page__inner-wrap {
  width: auto !important;
  max-width: none !important;
  margin-left: -2em !important;  
  margin-right: -12em !important;  // 越过 .page 右侧 suffix 限制
  padding-left: 1px !important;
  padding-right: 1px !important;
}

.page__content {
  max-width: 100% !important;
}

.page__content a {
  text-decoration: none;
}

.page__content a:hover {
  text-decoration: underline;
}

/* Custom publication badge style */
.publication-badge {
  display: inline-block;
  font-size: 0.95em;
  font-family: inherit;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 1px 8px 2px;   /* 顶部 padding 稍小，底部略大 */
  font-weight: 600;
  color: #333;
  line-height: 1;
  vertical-align: baseline;   /* 或尝试 middle、baseline 看对齐感 */
  position: relative;
  top: 0px;   
}

a.paper-link {
  color: #005BAC;         /* 浙大蓝 */
  text-decoration: none;
  font-weight: 550;
}

a.paper-link:hover {
  text-decoration: underline;
}
.author-name {
  font-weight: 550;  /* 比正常字略粗，比 bold 轻盈 */
}
